img  {
    width:  300px
}
body {
    text-align: center;
    font-family: cursive;
    
}
h1 {
    color: pink
}

li {
    background-color: yellow;
    <font color=######>excited to learn HTML</font>
}